.body {
  padding: 3em 10% 5em;
  background-color: #f7f9fb;
}

.block {
  width: 80%;
  margin: 4em auto 0;
  background: #f7f9fb;
  border: 1px solid #e5e5e5;
  box-shadow: 0px 10px 30px rgba(73, 122, 226, 0.1);
  border-radius: 15px;
}

.title__block {
  width: 90%;
  margin: 2em auto 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title__block img {
  width: 4.5em;
  height: auto;
}

.title__block h1 {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 2em;
  color: var(--main-font-blue-color);
}

.title__block p {
  font-family: var(--main-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5em;
  color: #000000;
}

@media (min-width: 0) and (max-width: 1200px) {
  .body {
    padding: 2em 5% 4em;
  }

  .block {
    width: 90%;
  }
}

@media (min-width: 0) and (max-width: 800px) {
  .block {
    width: 100%;
    margin: 2em auto 0;
  }

  .title__block h1 {
    font-size: 0.7em;
    line-height: 1.2em;
  }

  .title__block p {
    font-size: 0.9em;
    line-height: 1.3em;
  }

  .title__block img {
    display: none;
  }
}
