body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Geometria";
  src: url("./assets/fonts/Geometria-Regular.woff2") format("woff2"),
    url("./assets/fonts/Geometria-Regular.woff") format("woff");
}


:root{
  --main-font-family: "Geometria",  sans-serif;
  --main-font-black-color: #111111;
  --main-font-blue-color: #3257a4;
}